#gitignore-file for emacs directory

# Dont VCS these files
*~
\#*\#
.places
.savehist
.smex-items
emacs.el
ido.last
.org*
tramp
eshell/history
eshell/lastdir
recentf

# Directories not to VCS
.cache/
auto-save-list/
backups/
elpa/
server/
my-backups/
url/
xkcd/
var/
