#gitignore-file for emacs directory
!/customize.el
/*.el

# Dont VCS these files
*~
\#*\#
.places
.savehist
.smex-items
ido.last
.org*
tramp
eshell/history
eshell/lastdir
recentf

# Projectile
projectile-bookmarks.eld
projectile.cache

# Directories not to VCS
.cache/
auto-save-list/
backups/
elpa/
straight/
server/
my-backups/
url/
xkcd/
var/
/magithub/cache
*.elc
transient/
/network-security.data
/.extension/
/.lsp-session-v1
