#gitignore-file for emacs directory

# Dont VCS these files
*~
\#*\#
.places
.savehist
emacs.el
ido.last
.org*

# Directories not to VCS
auto-save-list/
backups/
elpa/
eshell/
packages/
server/
my-backups/
