[submodule "vendor/reveal.js"]
	path = vendor/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "vendor/org-reveal"]
	path = vendor/org-reveal
	url = https://github.com/sdaaish/org-reveal.git
[submodule "vendor/org-html-themes"]
	path = vendor/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
[submodule "vendor/org-html-themes"]
	path = vendor/org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
